@media screen and (min-width:1001px) {
.txtArea {
	width:840px;
	margin:0 auto;
	position:relative;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight:400;
	color:#606264;
	font-size:18px;
	line-height:1.8em;
}
.txtArea li {
	margin-top:40px;
}
.txtArea li .midashi {
	width:840px;
	line-height:34px;
	margin:0 0 20px;
	text-align:center;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight:600;
	font-size:30px;
}
.txtArea li .midashi span {
	display:block;
}
/*------------------------------------------------------------------------------
								TRAILER
------------------------------------------------------------------------------*/
.trailerArea {
	margin:20px 0 0;
}
.trailerArea:last-child {
	margin:10px 0 0px;
}
.prArea {  
	margin: 0 auto 0 auto;
	padding:0 0 0px 0;
	color: #000;
	font-size: 16px;
	line-height: 1.6em;
	width:860px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin:0;
}
.video-container iframe {
	position: absolute;
	top: 2px;
	left: 0;
	width: 100%;
	height: 100%;
}


.trailerArea ul {
	max-width:860px;
	margin: 15px auto 0 auto;
	overflow:hidden;
	position:relative;
}
.trailerArea ul .trailerBtn {
	width:32.333%;
	background:#5f6264;
	margin:0 0.5% 10px;
	float:left;
	height:46px;
	padding:0 0 0;
	position: relative;
	line-height:46px;
	font-weight:bold;
}
.trailerArea ul .half {
	width:48.5%;
	margin:0 0.5% 10px;
}
.trailerArea ul li a {
	width:100%;
	height:100%;
	position:absolute;
	font-size:20px;
	text-align:center;
	color:#FFF;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight:normal;
}
.trailerArea ul li a i {
	font-size:18px;
	font-style:normal;
}
.trailerArea ul li a:hover {
text-decoration:none;
color:#FFF;
}

.trailerArea ul li a:active {
text-decoration:none;
}
}
@media screen and (max-width: 1000px) {
.txtArea {
	width:660px;
	margin:50px auto 0;
	position:relative;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight:400;
	color:#606264;
	font-size:18px;
	line-height:1.8em;
}
.txtArea li {
	margin-top:80px;
}
.txtArea li .midashi {
	width:660px;
	line-height:34px;
	margin:0 0 20px;
	text-align:center;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight:600;
	font-size:30px;
}
.txtArea li .midashi span {
	display:block;
}
/*------------------------------------------------------------------------------
								TRAILER
------------------------------------------------------------------------------*/
.trailerArea {
	margin:20px 0 0;
}
.trailerArea:last-child {
	margin:10px 0 0px;
}
.prArea {  
	margin: 0 auto 0 auto;
	padding:0 0 0px 0;
	color: #000;
	font-size: 16px;
	line-height: 1.6em;
	width:660px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin:0;
}
.video-container iframe {
	position: absolute;
	top: 2px;
	left: 0;
	width: 100%;
	height: 100%;
}


.trailerArea ul {
	max-width:660px;
	margin: 15px auto 0 auto;
	overflow:hidden;
	position:relative;
}
.trailerArea ul .trailerBtn {
	width:32.333%;
	background:#5f6264;
	margin:0 0.5% 10px;
	float:left;
	height:56px;
	padding:0 0 0;
	position: relative;
	line-height:56px;
	font-weight:bold;
}
.trailerArea ul .half {
	width:48.5%;
	margin:0 0.5% 10px;
}
.trailerArea ul li a {
	width:100%;
	height:100%;
	position:absolute;
	font-size:24px;
	text-align:center;
	color:#FFF;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight:normal;
}
.trailerArea ul li a i {
	font-size:18px;
	font-style:normal;
}
.trailerArea ul li a:hover {
text-decoration:none;
color:#FFF;
}

.trailerArea ul li a:active {
text-decoration:none;
}
}